## Shelter Animal Analysis

### This is an analysis on Kaggle's [animal shelter](https://www.kaggle.com/c/shelter-animal-outcomes/data) dataset

In [1]:
import pandas as pd

### Importing the training dataset

In [2]:
data = pd.read_csv("dataset/train.csv")

### Exploring dataset's shape and columns

In [3]:
print(data.shape)
print(data.columns)

(26729, 10)
Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

### Exploring the first 10 rows

In [4]:
print(data.head(10))

  AnimalID     Name             DateTime      OutcomeType OutcomeSubtype  \
0  A671945  Hambone  2014-02-12 18:22:00  Return_to_owner            NaN
1  A656520    Emily  2013-10-13 12:44:00       Euthanasia      Suffering
2  A686464   Pearce  2015-01-31 12:28:00         Adoption         Foster
3  A683430      NaN  2014-07-11 19:09:00         Transfer        Partner
4  A667013      NaN  2013-11-15 12:52:00         Transfer        Partner
5  A677334     Elsa  2014-04-25 13:04:00         Transfer        Partner
6  A699218    Jimmy  2015-03-28 13:11:00         Transfer        Partner
7  A701489      NaN  2015-04-30 17:02:00         Transfer        Partner
8  A671784     Lucy  2014-02-04 17:17:00         Adoption            NaN
9  A677747      NaN  2014-05-03 07:48:00         Adoption        Offsite

  AnimalType SexuponOutcome AgeuponOutcome                              Breed  \
0        Dog  Neutered Male         1 year              Shetland Sheepdog Mix
1        Cat  Spayed Female         1 year             Domestic Shorthair Mix
2        Dog  Neutered Male        2 years                       Pit Bull Mix
3        Cat    Intact Male        3 weeks             Domestic Shorthair Mix
4        Dog  Neutered Male        2 years        Lhasa Apso/Miniature Poodle
5        Dog  Intact Female        1 month  Cairn Terrier/Chihuahua Shorthair
6        Cat    Intact Male        3 weeks             Domestic Shorthair Mix
7        Cat        Unknown        3 weeks             Domestic Shorthair Mix
8        Dog  Spayed Female       5 months      American Pit Bull Terrier Mix
9        Dog  Spayed Female         1 year                      Cairn Terrier

         Color
0  Brown/White
1  Cream Tabby
2   Blue/White
3   Blue Cream
4          Tan
5    Black/Tan
6   Blue Tabby
7  Brown Tabby
8    Red/White
9        White

### Check for NaN Values
#### Seems a lot of values missing in ```Name``` and ```OutcomeSubType```

In [19]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null object
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
dtypes: object(10)
memory usage: 2.0+ MB
None

### What is the meaning of every column in the data

- AnimalID: unique ID 
- Name: name
- DateTime: not really sure, datetime of the outcome maybe?
- OutcomeType: Adoption, Died, Euthanasia, Return_to_owner, Transfer
- OutcomeSubtype: Suffering, Partner, SCRP, Offsite
- AnimalType: Cat or Dog
- SexuponOutcome: Neutered Male, Intact Male, Spayed Female, Intact Female
- AgeuponOutcome: age in months or years
- Breed: breed
- Color: color

### What is the percentage outcome of every animal

In [18]:
data.groupby(['OutcomeType']).size().transform(lambda x: x/sum(x))

OutcomeType
Adoption           0.402896
Died               0.007370
Euthanasia         0.058177
Return_to_owner    0.179056
Transfer           0.352501
dtype: float64